@model TotemPWA.Models.Cupom

@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
    ViewData["Title"] = "Excluir Cupom";
}

<div class="content-area">
    <div class="delete-container">
        <div class="page-header">
            <h1>Excluir Cupom</h1>
            <h4>Confirme a exclusão do cupom</h4>
        </div>

        <div class="delete-warning">
            <h3>⚠️ Atenção!</h3>
            <p>Tem certeza de que deseja excluir este cupom? Esta ação não pode ser desfeita.</p>
        </div>

        <div class="row">
            <div class="col-md-8">
                <dl class="details-list">
                    <dt>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Codigo)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Desconto)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Desconto)%
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Validade)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Validade)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.Administrador)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Administrador.CPF)
                    </dd>
                </dl>
            </div>
        </div>
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="CupomId" />
            <div class="delete-actions">
                <input type="submit" value="🗑️ Confirmar Exclusão" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">↩️ Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="~/css/crudcupom.css" />
}