@model TotemPWA.Models.Administrador

@{
    ViewData["Title"] = "Excluir Administrador";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="content-area">
    <div class="produtos-section">
        <div class="section-header">
            <div class="header-content">
                <h1>Excluir Administrador</h1>
                <p class="section-subtitle">Tem certeza que deseja excluir este administrador?</p>
            </div>
        </div>

        <div class="details-container">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nome)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Senha)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Senha)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CPF)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.CPF)</dd>
            </dl>

            <form asp-action="Delete" class="text-center mt-4">
                <input type="hidden" asp-for="AdministradorId" />
                <button type="submit" class="btn btn-danger">Excluir</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/deleteadm.css" />
}
